/* * * * * * * * * * * * * *
 *
 * PATH: public/resets.css
 *
 * * * * * * * * * * * * * */

@import "./fonts.css";
@import "./resets.css";

body {
  background-color: var(--neutral-lightest);
  color: var(--neutral-dark)
}

body, p, a {
  font-family: 'Junicode';
  font-size: 2em;
}

code {
  font-size: .8em;
  font-family: 'M+ MN Type-1 Regular';
}

label, input, select, select > option {
  font-family: 'M+ MN Type-1 Regular';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bagnard';
  color: var(--neutral-darkest);
}

h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.4em;
}

a {
  font-family: 'Junicode Bold';
  text-decoration: underline;
}

input {
  font-size: 1.3em;
  min-width: 0;
  width:100%;
}

button {
  font-size: 1em;
  font-family: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

.rounded {
  box-sizing: border-box;
  border: solid 2px #fffefc;
  border-radius: 40px;
  padding: 40px;
}

div.button {
  padding: 10px;
  text-align: center;
  font-size: .4em;
  flex: 0;
}